*.mp3
data/*/*.txt
.DS_Store
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.py3
*.model
*.vocab
__pycache__/
.env
train/*.txt
train/
wikipedia_hindi/*.txt
wikipedia_hindi/
tests/New_Testament_Hindi.txt
wikipedia_hindi_merged.txt